# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nathanae.perrenou\Desktop\STAGE TELCOCLOUD\projet git\stage-fi-perrenoud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
